header{
    background-image: url('https://cdn.shopify.com/s/files/1/0475/2385/6541/files/slide-1.jpg?v=1613706860');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    
}